<div class="form-wrapper">
    <div class="editing-controllers">
      <button class="editing-controller bold" (click)="toggleClassOnSelectedElements('bold')">b</button>
      <button class="editing-controller italic" (click)="toggleClassOnSelectedElements('italic')">i</button>
      <button class="editing-controller underline" (click)="toggleClassOnSelectedElements('underline')">u</button>
    </div>

    <form [formGroup]="editorForm" (ngSubmit)="onEditorFormSubmit()">
      <app-editable-textarea class="editable-textarea-wrapper" formControlName="textArea" #editableTextarea></app-editable-textarea>
      
      <div class="extraction-controllers">
        <button class="extraction-controller" type="submit" [disabled]="editorForm.invalid">Get current textarea value</button>
        <button class="extraction-controller" type="button" (click)="updateSynonymsState()" [disabled]="!(selectedElements.length > 1)">Get synonyms</button>
      </div>
    </form>
    
    <div class="current-textarea-value-container">
      <ng-container *ngIf="(textareaState$ | async) as textareaValue">
        <h3>Last textarea value:</h3>
        <div class="current-textarea-value">{{ textareaValue }}</div>
      </ng-container>
    </div>
</div>
