.editing-controllers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

button {
    cursor: pointer;
    padding: .5rem 0;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 2px;
    overflow: auto;
    background-color: #242424;
    transition: background-color .5s ease-out, color .3s ease-out;
    color: #a6a6a6;

    &:focus {
        outline: 0;
    }

    &:hover {
        color: #afafaf;
        background-color: #372f2f;
    }

    &:active {
        color: rgba(175, 175, 175, .6);
        background-color: rgba(69, 59, 59, .6);
    }

    &[disabled] {
        background-color: #242424;
        color: #a6a6a6;
        cursor: default;
        opacity: .5;
    }
}

.extraction-controllers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.extraction-controller {
    margin: 0 .5rem 0 0;
    padding: .5rem .7rem;
}

.editing-controller {
    margin: 0 .4rem 0 0;
    width: 2.7rem;
    text-transform: uppercase;

    &.bold {
        font-weight: bold;
    }

    &.italic {
        font-style: italic;
    }

    &.underline {
        text-decoration: underline;
    }
}

.form-wrapper {
    width: 60%;
    margin: auto; 
}

.editable-textarea-wrapper {
    font-size: 1.2rem;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.current-textarea-value {
    word-break: break-word;
}

@media (max-width: 1365px) {
    .form-wrapper {
        width: 70%;
    }
}

@media (max-width: 1279px) {
    .form-wrapper {
        width: 75%;
    }
}

@media (max-width: 1023px) {
    .form-wrapper {
        width: 85%;
    }
}

@media (max-width: 450px) {
    .form-wrapper {
        width: 95%;
    }

    .extraction-controllers {
        justify-content: space-between;
    }

    .extraction-controller {
        width: 48%;
        margin: 0;
    }

    button, .editable-textarea-wrapper  {
        font-size: 1rem;
    }
}