.synonyms-container {
    width: 60%;
    margin: 1.2rem auto; 
}

.synonyms {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

.synonym-item {
    padding: .4rem .5rem;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 2px;
    overflow: auto;
    background-color: #242424;
    cursor: default;
    margin: .3rem .5rem .3rem 0;
}

.no-results-message {
    margin-top: 1rem;
}

.spinner {
    margin: 0 auto;
}

@media (max-width: 1365px) {
    .synonyms-container {
        width: 70%;
    }
}

@media (max-width: 1279px) {
    .synonyms-container {
        width: 75%;
    }
}

@media (max-width: 1023px) {
    .synonyms-container {
        width: 85%;
    }
}

@media (max-width: 450px) {
    .synonyms-container {
        width: 95%;
    }
}